<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4ZKPl1iDcwzuhtR_gepX_A_wR_tB4l6g</string>
	<key>GCM_SENDER_ID</key>
	<string>784537116270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rssClient</string>
	<key>PROJECT_ID</key>
	<string>alastair-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>alastair-reader.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784537116270:ios:ab48eb8213cebdee49107f</string>
</dict>
</plist>